<div class="container"><!-- container -->

	<h2>CI ( Corporate Identity )</h2>
	<p class="tit_initials">
		<span class="bb">소통의 즐거움에 빠져들다!</span>
	</p>


	<div class="ci_img">
		<p>
			<span class="img ci1" style="background:url(images/ci_01.gif) center no-repeat;"></span>
			<span class="txt">프랜디의 CI는 <strong>소통 (Communication)</strong>을 통해 이루어지는 모든 가치를 담고 있습니다.<br />국적, 종교, 인종, 성별을 떠나 <strong>모두가 즐겁게 소통 할 수 있는 FUN 한 세상</strong>을 만드는것, 바로 프랜디의 모토이자 경영 철학니다.</span>
		</p>

		<p>
			<span class="img ci2" style="background:url(images/ci_02.gif) center no-repeat;"></span>
			<span class="txt">프렌디의 로고는 소통을 의미합니다.<br />프랜디의 심볼마크인 말풍선은 사람과 사람, 고객과 프랜디의 소통을 의미하며 메인칼라인 '올리브 그린'은 고객에게 편안하고 친근하게 다가가고자 하는 마음입니다.</span>
		</p>
	</div>



	<p class="stitle">로고와 아이콘의 사용</p>

	<div class="ext_ci">
		<p>
		<img src="images/ci_03.gif" alt="PRANDY" />
		</p>
		<p>
		<img src="images/ci_04.gif" alt="PRANDY" />
		</p>
	</div>


	<div class="text_edge">
	- 로고를 변형하여 사용하지 않습니다.<br />
	- 텍스트 또는 심볼 부분은 경우에 따라서 따로 사용할 수 있습니다.<br />
	- 흰색(옅은회색) 배경에서는 올리브그린 로고를 사용하여, 검은색(짙은회색) 배경에서는 흰색의 로고를 사용합니다.
	</div>


	<div class="ci_img">
		<p class="topline">
			<span class="img" style="background:url(images/ci_05.gif) center no-repeat;"></span>
			<span class="txt">ICON: 72px x 72px, 48px x 48px, 36px x 36px<br />
			아이콘의 목적은 목적에따라서 세가지 사이즈가 제공됩니다.<br />
			사이트에 따라서 크기와 배경색 등은 변경 가능하지만, 심볼은 변형하지 않습니다.</span>
		</p>
	</div>

</div><!-- // container -->