<div class="container"><!-- container -->
	<h2>Introduction</h2>
	<p class="tit_initials">
		<span class="bb">고객을 위한 가치를 창조합니다.</span>
		<span class="ss">
			프랜디 주식회사는 사회를 건강하고 윤택하게 만드는 가치를 창조한다는 생각으로 고객을 감동시킬 수 있는 가치를 창조합니다.<br />인재가 모여 조직을 창조하며 임직원이 성장하고 임직원 가족을 행복하게 만드는 것이 바로 저희 프랜디의 마음입니다.
		</span>
	</p>

	<div class="img_edge">
		<img src="images/img_01.gif" />
	</div>

	<div class="introduction_txt">
		<p>
			<strong class="tit">Community</strong>
			<span>
				<strong>사회를 건강하고 윤택하게 만드는 가치를 창조합니다.</strong>
				- 가치창출을 통해서 사회에 환원합니다.<br />
				- 성실한 납세로 투명한 경영을 합니다.
			</span>
		</p>

		<p>
			<strong class="tit">Customer</strong>
			<span>
				<strong>고객을 감동케 하는 가치를 창조합니다.</strong>
				- 고객의 말에 귀를 기울입니다.<br />
				- 고객을 선도합니다.
			</span>
		</p>

		<p>
			<strong class="tit">Prandian</strong>
			<span>
				<strong>임직원이 성장하면 회사가 성장합니다.</strong>
				- 정보를 공유하고 함께 일하는 문화를 만들어 나갑니다.<br />
				- 개인의 비전과 회사의 비전을 조율하여 동반 성장해 나아갑니다.
			</span>
		</p>
	</div>


	<div class="text_box">
		프랜디는 자율적인 기업문화와 임직원 개개인의 열정과 우수한 역량을 기반으로 고정된 일상 관념과 사회적 통념을 타파하여, 획일적이고 단편적인 업무에서 벗어나 자발적인 참여와 헌신을 통해 창조적인 비즈니스를 영위해 나가고 있는 스마트 벤처기업입니다.
	</div>


	<div class="introduction_txt">
		<p class="w50">
			<strong class="tit">Interaction Experience</strong>
			<span>
				<strong>다양한 디바이스, 새로운 기술을 기반으로 사람들에게 가치있고 흥미로운 경험을 제공합니다.</strong>
				- 스마트폰 어플리케이션<br />
				- Locale Based Service<br />
				- Multimedia Contents<br />
				- 웹 어플리케이션<br />
				- 컨탠츠 스토리텔링
			</span>
		</p>

		<p class="w50">
			<strong class="tit">Intelligence Business</strong>
			<span>
				<strong>다변화하는 비즈니스 환경에 적합한 스마트한 비즈니스 솔루션을 제공합니다.</strong>
				- 그룹웨어<br />
				- 보안 솔루션<br />
				- 서버 및 네트워크 설계 구축<br />
				- 비즈니스 어플리케이션<br />
				- 클라우드 서비스
			</span>
		</p>
	</div>


	<div class="text_box">
		통합보안인증솔루션인 D-Tector를 자체 개발하고, 프랜디 서비스를 통해 시간과 장소에 구애받지 않고 상대와 다이나믹한 소통이 가능하며, Ubiware(그룹웨어)를 활용해 진정한 모바일 오피스 환경을 제공해 드리고 있습니다.<br /><br />앞으로 프랜디는 개인과 기업이 필요한 모든 소통의 수단을 제공해드림을 목표로 초심을 잃지 않고 정진해 나가는 정직한 기업이 되길 여러분게 약속드립니다!
	</div>
</div><!-- // container -->

