<div class="container"><!-- container -->

	<h2>Service</h2>
	<p class="stitle">심리학을 이용한 감성 SNS Prandy (프랜디)</p>
	<p class="text_edge">재미있는 심리테스트와 게임을 통해서 본인및 친구의 성격 및 특징을 알 수 있습니다. 안으로는 자신을 더 객관적으로 보고, 밖으로는 친구와 연인 등이 더 좋은 관계로 발전할 수 있도록 프랜디가 도와 드립니다.</p>

	<div class="img_edge">
		<a href="pop_img_04.html" class="zoom" target="_blank"></a>
		<img src="images/img_05.gif" />
	</div>

	<p class="stitle top_line">패키지형 소셜쇼핑몰 Wonshot (원샷)</p>
	<p class="text_edge">소셜 커머스의 진화형 쇼핑몰로 프랜디와 연계된 AI가 고객 성향을 파악해 프리미엄 일정을 제공해 드리고 구매 고객은 입맛에 맞는 구성의 패키지 상품을 할인된 가격으로 구매할 수 있는 통합 패키지 쇼핑몰입니다.</p>

	<div class="img_edge">
		<a href="pop_img_05.html" class="zoom" target="_blank"></a>
		<img src="images/img_06.gif" />
	</div>

</div><!-- // container -->
