<div class="container"><!-- container -->

	<h2>SI ( System Integration )</h2>
	<p class="tit_initials ma_20">
		<span class="ss">SI 사업은 고객의 요구를 정확하게 파악해 적용할 수 있는 우수인력과, 다양한 요소기술을 보유한 전문 SI업체 프로젝트의 성패를 좌우합니다.</span>
	</p>

	<p class="text_edge">프랜디(주)는 기업이 필요로 하는 정보시스템에 관한 기획에서부터 개발과 구축, 운영, 유지보수까지 모든 서비스를 제공합니다.</p>

	<div class="si_edge">
		<p class="tit">개발인력 레퍼런스</p>
		<ul>
			<li>- Coditt.com 감성 검색 시스템 구축</li>
			<li>- 경북대학교 통합 정보 시스템</li>
			<li>- U-ART 홈네트워크 개발</li>
			<li>- 영남대학교 u-Campus 개발</li>
			<li>- 서울 에니메이션 센터 개발</li>
			<li>- 대구 e-교육포털 구축</li>
			<li>- 삼성물산 배송시스템 Migration</li>
			<li>- 삼성프라자 인터넷 식품관 리뉴얼</li>
			<li>- 삼성물산 건설/토목/플랜트 하자시스템 구축</li>
			<li>- 삼성 SDS web2.0기반 정보화 시스템 구축</li>
			<li>- 인터파크 HM 인터캅 개발</li>
			<li>- 미디어신나라 쇼핑몰 구축</li>
			<li>- SKT 폴미 2.0 개발</li>
			<li>- SKT 폴미 3.0 고도화</li>
			<li>- SKT Conerstone Framework 1.0 개발</li>
			<li>- SKT Conerstone Framework 2.0 고도화</li>
		</ul>
	</div>
</div><!-- // container -->