<div class="container"><!-- container -->

	<h2>Solution</h2>

	<p class="stitle">입체적 전방위 출력보안 솔루션 D-Tector ( 디텍터 )</p>
	<p class="text_edge">프린팅 되는 사내 모든 문서에 대한 출력기록/이력 관리, 사내/사외 인원의 출력권한/문서지문(스템프) 관리, 보안감사를 통한 관리체계가 융합된 기업기밀 문서보호 솔루션 입니다.</p>

	<div class="img_edge">
		<a href="pop_img_02.html" class="zoom" target="_blank"></a>
		<img src="images/img_03.gif" />
	</div>

	<p class="stitle top_line">모바일 그룹웨어 UBIWARE ( 유비웨어 )</p>
	<p class="text_edge">기업 내부의 인트라넷을 활용하는 시대를 넘어 움직이는 사무 환경 즉, 스마트폰으로 언제 어디서든 주요 업무를 처리 할 수 있는 모바일 시대의 반드시 필요한 기업용 그룹웨어 솔루션입니다.</p>

	<div class="img_edge">
		<a href="pop_img_03.html" class="zoom" target="_blank"></a>
		<img src="images/img_04.gif" />
	</div>

</div><!-- // container -->
